In [2]:
import pandas as pd

# df = pd.read_csv('603444SH.csv')
# print(df.head(25))
# df.iloc[0:16, :].T
# for i in range(0, len(df), 18):
    # print(df.iloc[i:i + 18, :].T.iloc[1:2, :].to_csv('demo.csv', mode='a', index=False, header=False))

In [6]:
df = pd.read_csv('603444.csv')

# 海龟

## https://www.myquant.cn/docs/python_strategyies/110

In [7]:
import numpy as np
import pandas as pd

In [8]:
print(df.head())

         date    open    high     low   close  volume
0  2017-01-04   77.76   77.76   77.76   77.76      88
1  2017-01-05   85.54   85.54   85.54   85.54      44
2  2017-01-06   94.09   94.09   94.09   94.09      40
3  2017-01-09  103.50  103.50  103.50  103.50     103
4  2017-01-10  113.85  113.85  113.85  113.85     166

In [12]:
df.iloc[:,0]

0       2017-01-04
1       2017-01-05
2       2017-01-06
3       2017-01-09
4       2017-01-10
           ...
1715    2024-01-23
1716    2024-01-24
1717    2024-01-25
1718    2024-01-26
1719    2024-01-29
Name: date, Length: 1720, dtype: object

In [13]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
print(df)

           date    open    high     low   close  volume
0    2017-01-04   77.76   77.76   77.76   77.76      88
1    2017-01-05   85.54   85.54   85.54   85.54      44
2    2017-01-06   94.09   94.09   94.09   94.09      40
3    2017-01-09  103.50  103.50  103.50  103.50     103
4    2017-01-10  113.85  113.85  113.85  113.85     166
...         ...     ...     ...     ...     ...     ...
1715 2024-01-23  196.01  207.87  196.01  204.96   24196
1716 2024-01-24  206.00  207.00  195.57  201.63   16086
1717 2024-01-25  201.81  206.60  200.08  205.60   20580
1718 2024-01-26  208.06  211.31  203.00  203.28   21418
1719 2024-01-29  203.81  204.50  192.68  194.83   18876

[1720 rows x 6 columns]

In [157]:
test_df =  df[df['date'].between('2020-01-01', '2024-02-01')]

In [158]:
test_df

           date    open    high     low   close  volume
730  2020-01-02  301.68  315.61  296.11  313.34   16772
731  2020-01-03  311.95  315.00  305.38  306.39    8659
732  2020-01-06  306.31  337.03  306.31  337.03   27138
733  2020-01-07  337.04  365.00  331.18  363.55   22965
734  2020-01-08  356.41  366.36  355.00  357.02   12585
...         ...     ...     ...     ...     ...     ...
1715 2024-01-23  196.01  207.87  196.01  204.96   24196
1716 2024-01-24  206.00  207.00  195.57  201.63   16086
1717 2024-01-25  201.81  206.60  200.08  205.60   20580
1718 2024-01-26  208.06  211.31  203.00  203.28   21418
1719 2024-01-29  203.81  204.50  192.68  194.83   18876

[990 rows x 6 columns]

In [159]:
high_price_trade_date = 5
low_price_trade_date = 3
capital = 150000
hold = 0

In [160]:
for index, row in test_df.iterrows():
    max_price = max(df[index-high_price_trade_date:index]['high'])
    min_price = min(df[index-low_price_trade_date:index]['low'])
    open = row['open']
    low = row['low']
    last_price = open * 100 
    if open > max_price and capital >= last_price:
        can_buy = int(capital / (open*100))
        capital = capital - can_buy*(open*100)
        hold= hold+can_buy
        print(f'买了{can_buy}手,余额:{capital},花费:{can_buy*(open*100):.2f}')
    elif open < min_price and hold > 0:
        sell_money = hold * 100 * low
        capital = capital + sell_money
        print(f'卖了{hold}手,余额:{capital}, 金额:{sell_money}')
        hold = 0
    # print(index, row['date_column'])

买了4手,余额:15184.0,花费:134816.00
卖了4手,余额:149608.0, 金额:134424.0
买了3手,余额:24979.0,花费:124629.00
卖了3手,余额:192937.0, 金额:167958.0
买了3手,余额:9043.0,花费:183894.00
卖了3手,余额:192634.0, 金额:183591.0
买了3手,余额:5134.0,花费:187500.00
卖了3手,余额:160855.00000000003, 金额:155721.00000000003
买了3手,余额:35755.00000000003,花费:125100.00
卖了3手,余额:146785.00000000003, 金额:111030.0
买了4手,余额:385.0000000000291,花费:146400.00
卖了4手,余额:214505.0, 金额:214119.99999999997
买了6手,余额:3503.0,花费:211002.00
卖了6手,余额:209219.0, 金额:205716.0
买了5手,余额:31719.0,花费:177500.00
卖了5手,余额:209944.0, 金额:178225.0
买了7手,余额:8344.0,花费:201600.00
卖了7手,余额:181804.0, 金额:173460.0
买了7手,余额:3654.0,花费:178150.00
卖了7手,余额:225701.0, 金额:222047.0
买了6手,余额:5045.0,花费:220656.00
卖了6手,余额:220205.0, 金额:215160.0
买了5手,余额:20205.0,花费:200000.00
卖了5手,余额:269740.0, 金额:249535.0
买了5手,余额:20240.0,花费:249500.00
卖了5手,余额:277690.0, 金额:257450.0

In [161]:
capital

277690.0