In [1]:
import pandas as pd

# df = pd.read_csv('603444SH.csv')
# print(df.head(25))
# df.iloc[0:16, :].T
# for i in range(0, len(df), 18):
    # print(df.iloc[i:i + 18, :].T.iloc[1:2, :].to_csv('demo.csv', mode='a', index=False, header=False))

# 处理数据

In [2]:
prepare_process_data = pd.read_csv('603444SHTest.csv')
print(prepare_process_data.tail())

     Unnamed: 0       amount                           askPrice  \
7125  603444.SH  236525100.0  [168.78, 168.79, 169.0, 0.0, 0.0]
7126        NaN       amount                           askPrice
7127  603444.SH  236525100.0  [168.78, 168.79, 169.0, 0.0, 0.0]
7128        NaN       amount                           askPrice
7129  603444.SH  236541900.0  [168.78, 168.79, 169.0, 0.0, 0.0]

               askVol                            bidPrice           bidVol  \
7125  [6, 5, 1, 0, 0]  [168.37, 168.36, 168.35, 0.0, 0.0]  [1, 3, 5, 0, 0]
7126           askVol                            bidPrice           bidVol
7127  [6, 5, 1, 0, 0]  [168.37, 168.36, 168.35, 0.0, 0.0]  [1, 3, 5, 0, 0]
7128           askVol                            bidPrice           bidVol
7129  [6, 5, 1, 0, 0]  [168.36, 168.35, 168.34, 0.0, 0.0]  [3, 5, 1, 0, 0]

        high  lastClose  lastPrice  lastSettlementPrice     low    open  \
7125  178.16     180.02     168.37                  0.0  164.01  177.02
7126    high  lastClose  lastPrice  lastSettlementPrice     low    open
7127  178.16     180.02     168.37                  0.0  164.01  177.02
7128    high  lastClose  lastPrice  lastSettlementPrice     low    open
7129  178.16     180.02     168.37                  0.0  164.01  177.02

      openInt  pvolume  settlementPrice  stockStatus            timetag  \
7125       13  1393876              0.0            0  20240205 11:29:53
7126  openInt  pvolume  settlementPrice  stockStatus            timetag
7127       13  1393876              0.0            0  20240205 11:29:53
7128  openInt  pvolume  settlementPrice  stockStatus            timetag
7129       13  1393976              0.0            0  20240205 11:29:59

      volume
7125   13939
7126  volume
7127   13939
7128  volume
7129   13940

In [6]:
df = pd.read_csv('603444.csv')

# 海龟

## https://www.myquant.cn/docs/python_strategyies/110

In [7]:
import numpy as np
import pandas as pd

In [8]:
print(df.head())

         date    open    high     low   close  volume
0  2017-01-04   77.76   77.76   77.76   77.76      88
1  2017-01-05   85.54   85.54   85.54   85.54      44
2  2017-01-06   94.09   94.09   94.09   94.09      40
3  2017-01-09  103.50  103.50  103.50  103.50     103
4  2017-01-10  113.85  113.85  113.85  113.85     166

In [12]:
df.iloc[:,0]

0       2017-01-04
1       2017-01-05
2       2017-01-06
3       2017-01-09
4       2017-01-10
           ...
1715    2024-01-23
1716    2024-01-24
1717    2024-01-25
1718    2024-01-26
1719    2024-01-29
Name: date, Length: 1720, dtype: object

In [13]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
print(df)

           date    open    high     low   close  volume
0    2017-01-04   77.76   77.76   77.76   77.76      88
1    2017-01-05   85.54   85.54   85.54   85.54      44
2    2017-01-06   94.09   94.09   94.09   94.09      40
3    2017-01-09  103.50  103.50  103.50  103.50     103
4    2017-01-10  113.85  113.85  113.85  113.85     166
...         ...     ...     ...     ...     ...     ...
1715 2024-01-23  196.01  207.87  196.01  204.96   24196
1716 2024-01-24  206.00  207.00  195.57  201.63   16086
1717 2024-01-25  201.81  206.60  200.08  205.60   20580
1718 2024-01-26  208.06  211.31  203.00  203.28   21418
1719 2024-01-29  203.81  204.50  192.68  194.83   18876

[1720 rows x 6 columns]

In [168]:
test_df =  df[df['date'].between('2023-01-01', '2024-02-01')]

In [169]:
test_df

           date    open    high     low   close  volume
1458 2023-01-03  313.00  324.50  310.62  323.50    5349
1459 2023-01-04  323.60  342.50  316.11  339.09   10911
1460 2023-01-05  339.03  365.00  339.03  351.20   11851
1461 2023-01-06  350.06  356.00  347.00  354.60    5649
1462 2023-01-09  354.38  363.90  354.38  363.00    8591
...         ...     ...     ...     ...     ...     ...
1715 2024-01-23  196.01  207.87  196.01  204.96   24196
1716 2024-01-24  206.00  207.00  195.57  201.63   16086
1717 2024-01-25  201.81  206.60  200.08  205.60   20580
1718 2024-01-26  208.06  211.31  203.00  203.28   21418
1719 2024-01-29  203.81  204.50  192.68  194.83   18876

[262 rows x 6 columns]

In [170]:
high_price_trade_date = 5
low_price_trade_date = 1
capital = 150000
hold = 0

In [171]:
for index, row in test_df.iterrows():
    max_price = max(df[index-high_price_trade_date:index]['high'])
    min_price = min(df[index-low_price_trade_date:index]['low'])
    open = row['open']
    low = row['low']
    last_price = open * 100 
    if open > max_price and capital >= last_price:
        can_buy = int(capital / (open*100))
        capital = capital - can_buy*(open*100)
        hold= hold+can_buy
        print(f'买了{can_buy}手,余额:{capital},花费:{can_buy*(open*100):.2f}')
    elif open < min_price and hold > 0:
        sell_money = hold * 100 * low
        capital = capital + sell_money
        print(f'卖了{hold}手,余额:{capital}, 金额:{sell_money}')
        hold = 0
    # print(index, row['date_column'])

买了4手,余额:2896.0,花费:147104.00
卖了4手,余额:146332.0, 金额:143436.0
买了3手,余额:26332.0,花费:120000.00
卖了3手,余额:170275.0, 金额:143943.0
买了3手,余额:20575.0,花费:149700.00
卖了3手,余额:182599.0, 金额:162024.0

In [172]:
capital

182599.0